# Answer rules

- Use autocomplete and supercomplete to help you write documentation and code
- Write always in french

# Diagrams

- When asked for generate a network diagram, use the elements in structure_reseau.drawio as a base model.
- When asked to create DNS trees or forest, use the proper elements.



- Diagrams are always in drawio format and stored in the "diagrams" folder
- When asked for generating a diagram, double check the diagram for errors
- When creating the diagram, don't add documentation to the md file

- The system can be asked to add images to the documentation

## Diagram style specifications

- Use light color arrows or with low opacity (65%) so that text is not hidden behind the arrows
- When putting text into containers, be sure of creating containers large enough to fit the text


## Infrastructure for the course: Virtual Machines

- Students will have 32gb of RAM in their machines and Windows Server 2022 installed.
- We won't modify the existing infrastructure.
- We'll create a virtual environment for the course:
  - 2 virtual machines (1 server that will be converted in a domain controller and 1 client)
  - 1 virtual machine (for the client)
  - Maybe 1 virtual machine (for another server, maybe also a DC)
- The server virtual machines will match the schema in structure_reseau.drawio
- A LAN net has been created with hyper-v
- A WAN net has been created with hyper-v

# PowerShell

1. Basic use of PowerShell commands will be incorporated in the course.
There's no need to create documentation for PowerShell commands, students will learn them by immersing themselves in the course.

2. Suggest commands that are relevant to the context when the sequence of commands is not too long, for tasks that are usually done with powershell instead of with the console.

## Example: 
For this content:
"
Dans la section Services du menu **AD DS**, vérifiez que les services suivants sont en cours d'exécution :
   - Active Directory Domain Services
   - DNS Server
   - DFS Replication
   - Intersite Messaging
   - Kerberos Key Distribution Center
   - NetLogon
   - Windows Time
"
add this text:
"
En PowerShell:

```powershell
Get-Service -DisplayName "*Active Directory*", "*DNS*", "*DFS*", "*Messagerie*", "*Kerberos*", "*Netlogon*", "*Temps*"
```
"

3. Always be concise, using the sentence "En PowerShell"
  