- Use autocomplete and supercomplete to help you write documentation and code
- Write always in french
- When asked for generate a net diagram, use the elements in @structure_reseau.drawio as a base model.
- Diagrams are always in drawio format and stored in the "diagrams" folder
- When asked for generating a diagram, double check the diagram for errors
- When creating the diagram, don't add documentation to the md file
